<!DOCTYPE html>
<html>
  <head>
    <title>文件统计</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>文件统计</h1>
    <% for(var i=0;i<fileList.length;i++){%>
      <div><%= fileList[i]%></div>
    <%}%>
  </body>
</html>
